*.o
*.a
*.la
*.so
*.elc
*.pyc
*.class
*.jar
*.iml
*.exe
*.log
.classpath
.settings/
.project
.sconsign.dblite
.idea
.lein
.DS_Store
a.out
target/
scala/http/log

cscope.out
cscope.files
GPATH
GRTAGS
GSYMS
GTAGS
*.db
py/query-10086/att

